body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: sans-serif;
}

.container {
  position: relative;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  background-color: rgb(90, 182, 93);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.carouselItem img{
  height: auto;
  width: auto;
  max-height: 300px;
  max-width: auto;
  padding: 10px;
}

.carousel { 
  margin: 0 auto; 
  padding: 40px; 
  width: 80%; 
  color: #333; 
  background: #419be0; 
}

.carouselItems {
  height:350px;
  text-decoration: none;
}

.carouselItem:hover .image {
  opacity: 0.3;
}

.carouselItem:hover .middle {
  opacity: 1;
}
